@font-face {
    font-family: 'lemonmilk';
    src: url('~@/assets/fonts/LEMONMILK-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'caviardreams';
    src: url('~@/assets/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
    font-family: 'caviardreams_bold';
    src: url('~@/assets/fonts/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LGC';
    src: url('~@/assets/fonts/Louis George Cafe.ttf') format('truetype');
}